.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;

  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #F2F1F1;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    /* color: ; */
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
    border-radius: 10px;
  }
  
  .react-calendar__tile:disabled {
    background-color: #A7A7A7;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #A7A7A7;
  }
  
  .react-calendar__tile--now {
    /* background: ; */
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    /* background: ; */
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  


  /* messages */

.outgoing{
  align-self: flex-end;
} 

.unique::-webkit-scrollbar {
  width: 14px;
}

.unique::-webkit-scrollbar-track {
  background: #D9D9D9;        /* color of the tracking area */
  border-radius: 30px;
}

.unique::-webkit-scrollbar-thumb {
  background-color:#186BAD;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/* slider */


/* background image */

.excel{
  background-image: url("./assets/Rect4.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card{
  /* background-image: url("./assets/card.png"); */
  

}
/* tutor screen */
.tutor{
  background-image: url('./assets/01.png');  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* blog detail */
.blog{
  background-image: url('./assets/Rect6.png');  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* accordion css */
.accordion{
  border-top: 1px solid #CDD6DA;
}

 /* error page  */
.errorPage{
  background-image: url('./assets/404.png');
  background-position: right;
  background-repeat: no-repeat;
}

/* tutor dashboard  */
.circular-progress{
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background:conic-gradient(#186BAD 115.2deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before{
  content:"";
  position:absolute ;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #F0F7FF;
}
.progress-value{
  position: relative;
}

.classProgress::-webkit-scrollbar {
  width: 8px;
}

.classProgress::-webkit-scrollbar-track {
  background: #D9D9D9;        /* color of the tracking area */
  border-radius: 30px;
}

.classProgress::-webkit-scrollbar-thumb {
  background-color:#186BAD;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.ourProgram{
  background-image: url('./assets/01.png');  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}